<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    
    <link rel="stylesheet" href="/css/login-style.css" />
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>

    <section class="home">
    
        <div class="form_container">
            <div class="form login_form">
            
                {{#successMessage}}
                <div class="alert alert-success" role="alert">
                    {{successMessage}}
                </div>
                {{/successMessage}}
        
                {{#errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                {{/errorMessage}}

                <form action="/login" method="post">
                    <h2>Iniciar Sesión</h2>
                    
                    <div class="input_box">
                        <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" required />
                        <i class="uil uil-user email"></i> </div>
                    
                    <div class="input_box">
                        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    
                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check" />
                            <label for="check">Recuérdame</label>
                        </span>
                    </div>
                    
                    <button type="submit" class="button">Iniciar Sesión</button>
                    
                    <div class="login_signup">
                        ¿No tienes una cuenta? 
                        <a href="/user/new">Regístrate</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="/js/login-script.js"></script>
</body>
</html>